.home-page-main > section + section {
    margin-top: 100px;
}

@media (max-width: 1200px) {
    .home-page-main > section + section {
        margin-top: 80px;
    }
}

@media (max-width: 900px) {
    .home-page-main > section + section {
        margin-top: 64px;
    }
}

@media (max-width: 720px) {
    .home-page-main > section + section {
        margin-top: 52px;
    }
}

@media (max-width: 499px) {
    .home-page-main > section + section {
        margin-top: 40px;
    }
}
